<head>
</head>

<body>
  <div id="map_container"></div>

  <!-- Attach React components -->
  {% if development %}
  <script type="text/javascript" src="static/vendored/react-development.js"></script>
  <script type="text/javascript" src="static/vendored/react-dom-development.js"></script>
  <script type="text/javascript" src="static/vendored/babel-development.js"></script>
  {% else %}
  <script type="text/javascript" src="static/vendored/react.js"></script>
  <script type="text/javascript" src="static/vendored/react-dom.js"></script>
  <script type="text/javascript" src="static/vendored/babel.js"></script>
  {% endif %}

  <script type="text/babel" src="static/js/map.js"></script>
</body>